<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signv.dao.HumidityMapper">
  <resultMap id="BaseResultMap" type="com.signv.domain.Humidity">
    <result column="humidity_num" jdbcType="INTEGER" property="humidityNum" />
    <result column="repository_num" jdbcType="INTEGER" property="repositoryNum" />
    <result column="sensor_num" jdbcType="INTEGER" property="sensorNum" />
    <result column="hum_record_date" jdbcType="TIMESTAMP" property="humRecordDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    humidity_num, repository_num, sensor_num, hum_record_date
  </sql>
  <select id="selectByExample" parameterType="com.signv.domain.HumidityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from humidity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.signv.domain.HumidityExample">
    delete from humidity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.signv.domain.Humidity">
    insert into humidity (humidity_num, repository_num, sensor_num, 
      hum_record_date)
    values (#{humidityNum,jdbcType=INTEGER}, #{repositoryNum,jdbcType=INTEGER}, #{sensorNum,jdbcType=INTEGER}, 
      #{humRecordDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.signv.domain.Humidity">
    insert into humidity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="humidityNum != null">
        humidity_num,
      </if>
      <if test="repositoryNum != null">
        repository_num,
      </if>
      <if test="sensorNum != null">
        sensor_num,
      </if>
      <if test="humRecordDate != null">
        hum_record_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="humidityNum != null">
        #{humidityNum,jdbcType=INTEGER},
      </if>
      <if test="repositoryNum != null">
        #{repositoryNum,jdbcType=INTEGER},
      </if>
      <if test="sensorNum != null">
        #{sensorNum,jdbcType=INTEGER},
      </if>
      <if test="humRecordDate != null">
        #{humRecordDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.signv.domain.HumidityExample" resultType="java.lang.Long">
    select count(*) from humidity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update humidity
    <set>
      <if test="record.humidityNum != null">
        humidity_num = #{record.humidityNum,jdbcType=INTEGER},
      </if>
      <if test="record.repositoryNum != null">
        repository_num = #{record.repositoryNum,jdbcType=INTEGER},
      </if>
      <if test="record.sensorNum != null">
        sensor_num = #{record.sensorNum,jdbcType=INTEGER},
      </if>
      <if test="record.humRecordDate != null">
        hum_record_date = #{record.humRecordDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update humidity
    set humidity_num = #{record.humidityNum,jdbcType=INTEGER},
      repository_num = #{record.repositoryNum,jdbcType=INTEGER},
      sensor_num = #{record.sensorNum,jdbcType=INTEGER},
      hum_record_date = #{record.humRecordDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <!--获取湿度记录列表-->
  <select id="getHumidityList" resultMap="BaseResultMap">
    SELECT * FROM humidity
  </select>
  <!--分页获取湿度记录列表-->
  <select id="getHumidityPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM humidity Limit #{start},10
  </select>
</mapper>